*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background: #e6e6e6;
	font-family: arial, helvetica, sans-serif;
	font-size:16px;
}

.wrap{
	margin: auto;
	max-width: 800px;
	width: 90%;
}

.principal{
	background: #390fb0;
	margin: auto;
	color: #000;
	padding: 50px 0;
	max-width: 800px;
	width: 90%;
}

.principal .formulario{
	color: #212121;
	text-align: center;
}

.principal .formulario input[type="text"]{
	margin-bottom: 20px;
	padding: 10px;
	width: 100%;
}

.principal .formulario input[type="text"].error{
	border: 4px solid #ff0000;
	color: red;
}

.principal .formulario .boton{
	background: none;
	border: 1px solid #390fb0;
	color: #fff;
	display: inline-block;
	font-size: 16px;
	padding: 15px;
}

.principal .formulario .boton:hover{
		border: 1px solid #fff;
}

/* - Tareas - */
.tareas .listas {
	list-style: none;
}

.tareas .listas li{
	border-bottom: 1px solid #B6B6B6;
}

.tareas .listas li a{
	color: #212121;
	display: block; 
	padding: 20px 0;
	text-decoration: none;
}

.tareas .listas li a:hover {
	text-decoration: line-through;	
}